@charset "utf-8";
.listheadings {
    font-family: Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, Serif;
    font-size: large;
    color: #000000;
}


.Footer {
    color: #FFFFFF;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: large;
	position:fixed;
    bottom: 0;
	width: 100%;
	text-align: center;
	background-color:#1D1717
}

header {
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size:large;
	color:white;
	padding:5px;
	text-align:center;
	background-color:#1D1717
}
